{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
  <form action="" method="post" class="form-signin" enctype="multipart/form-data">
    {% csrf_token %}
    <img class="mb-4" src="{% static "shareable/img/bootstrap-solid.svg" %}" alt="" width="72" height="72">
    {% if  error_message %}
      <h1 class="h3 mb-3 font-weight-normal">{{ error_message }}</h1>
    {% else %}
      <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>
      {% bootstrap_form form %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">{{ action_button_text }}</button>
    {% endif %}
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  </form>
{% endblock %}
