{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<form action="" method="post" class="form-signin">
  {% csrf_token %}
  <img class="mb-4" src="{% static "shareable/img/bootstrap-solid.svg" %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Details</h1>
  {% if password %}
    <p class="mt-5 mb-3 text-muted"><strong>Link:</strong> <a href="{{ url }}" target="_blank">{{ url }}</a></p>
    <p class="mt-5 mb-3 text-muted"><strong>Password:</strong> {{ password }}</p>
  {% else %}
    <p class="mt-5 mb-3 text-muted">Link unavailable.</p>
  {% endif %}
</form>
{% endblock %}
